@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@0,100,200,300,400,500,600,700,800,900,1000&display=swap");

/* Font faces for Montserrat */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm45_Qphzg.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZ.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZ.ttf")
    format("truetype");
}

.p {
  font-size: 32px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}

.p2 {
  font-size: 14px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 1px 10px 0px 0px;
  margin: 0;
}
.p3 {
    font-size: 10px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 0px 0px;
  }

.a {
  font-size: 14px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.div {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

